<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>That Page</title>
	<link rel="shortcut icon" href="static/icos/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div style="position:relative;height:220px;margin-top:50px;">

        <div style="opacity:0.5;position:absolute;left:20px;top:-30px;width:350px;height:150px;background-color:#40B3DF">
        </div>

        <div class="theme" style="opacity:0.5;position:absolute;left:120px;top:20px;width:100px;height:170px;">
        </div>

        <div style="margin-top:30px;width:360px;height:120px;padding:20px;border-radius:10px;border:10px solid #EE872A;font-size:120%; font-family: Comic Sans MS, cursive">
            <h1>Creative actiion</h1>

        <div style="letter-spacing:8px;font-size:15px;position:relative;left:25px;top:10px;">Use different things</div>
        <div style="color:#40B3DF;letter-spacing:12px;font-size:15px;position:relative;left:25px;top:20px;">Like this,
        <span style="background-color:#B4009E;color:#ffffff;"> or this</span></div>
        </div>
    </div>

</body>
</html>

